@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.bg-img {
 background-image: url("https://i.ibb.co/9N6J417/boliviainteligente-ZOo-X0h-VGB0-A-unsplash.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}